body {
    margin: 0;
    font-family: Arial, sans-serif; /* Optional: Set a font-family */
  }

  header {
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
  }
  
  .box {
    float: left;
    width: 42.33%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    background-color: #e0e0e0; /* Set your desired background color */
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4CAF50; /* Set a unique color for section title background */
    color: white; /* Adjust text color for readability */
    padding: 5px 10px;
    border: 1px solid black;
  }
  
  @media (max-width:768px) {
    .container {
        display: block;
        margin: auto;
    }

    #container-box {
        display: flex;
    }

    #box {
        width: 87%;
    }
  }

  @media screen and (max-width: 767px) {
    .box {
      width: 86%; 
      margin: 10px; 
    }

  }
    